    <link href="/assets/styles/drop.css" rel="stylesheet"/>
    
    <!--Navigation Bar-->
    <div class="nav-bar">
        <!--Menu Button-->
        <div class="container">
            <button class="btn" id="btn">
                <i class="bx bx-menu-alt-right btn-icon" id="arrow"></i>
            </button>
            <div class="dropdown" id="dropdown">
                <a href = "/">
                    <i class="bx bx-home"></i>
                    ThusIWilled
                </a>
                <a href="/games">
                    <i class="bx bx-joystick"></i>
                    Games
                </a>
                <a href="/fiction">
                    <i class="bx bx-pencil"></i>
                    Fiction
                </a>
                <a href="/learn">
                    <i class="bx bx-brain"></i>
                    Learn
                </a>
                <a href="/photos">
                    <i class="bx bx-camera"></i>
                    Photos
                </a>
                <a href="/journal">
                    <i class="bx bx-book-reader"></i>
                    Journal
                </a>
                <!--
                <a href="https://kjkast.github.io/projects" class="ext-link">
                    <i class="bx bx-code-alt ext-gone"></i>
                    <i class="bx bx-right-arrow-alt ext"></i>
                    Projects
                </a>    
                -->
                <a href="/about">
                    <i class="bx bx-user ext-gone"></i>
                    About
                </a>
            </div>
        </div>
    </div>

    <script src = "/assets/js/drop.js"></script>