  
  .blocks-container{
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .block-item {  
    width: 25rem;
    height: fit-content;
    
    flex-grow: 0.15;
    flex-shrink: 1;
    
    margin: 2rem 1rem;
    
    padding: 1.1rem;
    font-size: 1.7rem;
    color: var(--dark-bg);
    opacity: 100%;
    border-radius: 10%;
    border: var(--lighter-accent) 0.5rem outset;
    /*box-shadow: 0px 5px var(--accent);*/
  
    background-color: var(--accent);
    background-size: cover;
    background-repeat: no-repeat;

    /*background-image: linear-gradient(0deg, var(--accent) 0%, #00000029 60%), url();*/
  }

  .image-block {
    height: 25rem;
    border: var(--second) 3px solid;
    display:flex;
    align-items: flex-end;
    border-top: none;
    box-shadow: 0px 5px var(--accent);

  }
  
  .image-block a, .block-item a:visited, .block-item a:active{
    text-decoration: none;
    color: var(--accent);
  }

  .a2, .a2:visited, .a2:active{
    text-decoration: none;
    color: var(--dark-bg);
    font-style: italic;
  }
  .a3, .a3:visited, .a3:active {
    text-decoration: none;
    color: var(--background);
    font-style: italic;
  }
  .a2:hover {
    color: var(--second)
  }
  .a3:hover {
    color: var(--accent)
  }

  .a4, .a4:visited, .a4:active {
    color: var(--background);
    font-style: italic;
    text-decoration: underline;
  }
  .a4:hover {
    color: var(--accent);
    text-decoration: none;
  }

  .image-block a:hover, .a2:hover, .a3:hover{
    text-decoration: underline;
  }

  .underline {
    border-bottom: 2px solid var(--lighter-accent);
    padding-bottom: 0.2rem;
    margin: 0.3rem 0 0.7rem 0;
  }

  .underline-2 {
    border-bottom: 2px solid var(--lighter-accent);
    padding-bottom: 1rem;
    margin: 0.3rem 0 0.7rem 0;
  }

  .block-dark {
    background-color: var(--dark-bg);
    border: var(--accent) 0.2rem solid;
    color: var(--background);
  }

  .big-block {
    width: 100%;
    height: fit-content;

    background-color: var(--dark-light);
    padding: 5rem;
  }
  @media screen and (max-width: 700px) {
    .big-block {
      padding: 2rem 1rem;
    }
  }

  .new-2 {
    width: 100%;
  }